html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: palegoldenrod;
    text-align: center;
}

form{
    /* width: 600px; */
    height: 200px;
    background-color: burlywood;
    border-style: double;
    align-content: center;
}

form label{
    float: left;
    width: 150px;
}

form input{
    width: 50%;
    margin-bottom: 10px;
}

/* tablets */
@media screen and (min-width: 758px){
    /* css for screen and min-width (tablets) */

    body{
        font-size: 0.8em;
    }

}
/* media screen and min-width (tablets) end */

/* desktop */
@media screen and (min-width: 1024px){
    /* css for screen and min-width (desktop) */

    body{
        font-size: 1em;
    }

}
/* media screen and min-width (desktop) end */