html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: palegoldenrod;
    font-size: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    /* gap: 1000px; */
    grid-template-areas: 
    "header header X"
    "X bio bio"
    "client client X"
    "project project project"
    "X footer footer";
}

.navBar {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgba(255,255,255,0.90), rgba(255,255,255,0.70)), url(../images/codeDSMA132Enrollment.png);
}

.navBar a {
    font-size: 1.5em;
    color: lightgoldenrodyellow;
    text-decoration: none;
}

.navBar a:hover {
    color: white;
    text-decoration: underline white;
}

.contactHeader {
    /* outline will be removed after construction purposes, needed to see grid */
    /* outline: 3px dashed magenta; */
    display: grid;
    grid-area: header;
    justify-content: center;
    /* background-image: linear-gradient(rgba(255,255,255,0.90), rgba(255,255,255,0.70)), url(../images/codeDSMA132Enrollment.png); */
}

.bioPreview {
    /* outline will be removed after construction purposes, needed to see grid */
    /* outline: 3px dashed green; */
    display: grid;
    justify-content: center;
    grid-area: bio;
    text-align: center;
    background-image: linear-gradient(rgba(255,255,255,0.90), rgba(255,255,255,0.70)), url(../images/backgroundAbout.jpg);
}

.references {
    /* outline will be removed after construction purposes, needed to see grid */
    /* outline: 3px dashed blue; */
    display: grid;
    grid-area: client;
    justify-content: center;
}

.projects {
    /* outline will be removed after construction purposes, needed to see grid */
    /* outline: 3px dashed purple; */
    display: grid;
    grid-area: project;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-gap: 20px;
    text-align: center;
}

.project {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 2px dashed lightslategrey;
    border-radius: 10px;
}

.project img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer {
    /* outline will be removed after construction purposes, needed to see grid */
    /* outline: 3px dashed red; */
    display: grid;
    grid-area:footer;
    justify-content: center;
    grid-area: footer;
    text-align: center;
    background-image: linear-gradient(rgba(255,255,255,0.90), rgba(255,255,255,0.70)), url(../images/codeDSMA132Enrollment.png);
}

.btn, sl-button {
    background-color: palegoldenrod;
    color: grey;
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 2em auto;
}

/* tablets */
@media screen and (min-width: 758px){
    /* css for screen and min-width (tablets) */

    body{
        font-size: 0.8em;
    }

}
/* media screen and min-width (tablets) end */

/* desktop */
@media screen and (min-width: 1024px){
    /* css for screen and min-width (desktop) */

    body{
        font-size: 1em;
    }

}
/* media screen and min-width (desktop) end */